@font-face
    font-family mplus-2p-ascii
    font-weight 900
    src url('../ttf/mplus-2p-black-ascii.eot') format('eot')
    src url('../ttf/mplus-2p-black-ascii.woff') format('woff')
    src url('../ttf/mplus-2p-black-ascii.ttf') format('truetype')

@font-face
    font-family mplus-2p-ascii
    font-weight 700
    src url('../ttf/mplus-2p-bold-ascii.eot') format('eot')
    src url('../ttf/mplus-2p-bold-ascii.woff') format('woff')
    src url('../ttf/mplus-2p-bold-ascii.ttf') format('truetype')

@font-face
    font-family mplus-2p-ascii
    font-weight 400
    src url('../ttf/mplus-2p-regular-ascii.eot') format('eot')
    src url('../ttf/mplus-2p-regular-ascii.woff') format('woff')
    src url('../ttf/mplus-2p-regular-ascii.ttf') format('truetype')

@font-face
    font-family mplus-2p-ascii
    font-weight 200
    src url('../ttf/mplus-2p-light-ascii.eot') format('eot')
    src url('../ttf/mplus-2p-light-ascii.woff') format('woff')
    src url('../ttf/mplus-2p-light-ascii.ttf') format('truetype')

@font-face
    font-family mplus-2p-ascii
    font-weight 100
    src url('../ttf/mplus-2p-thin-ascii.eot') format('eot')
    src url('../ttf/mplus-2p-thin-ascii.woff') format('woff')
    src url('../ttf/mplus-2p-thin-ascii.ttf') format('truetype')
