@font-face
    font-family mplus-2p-latin
    font-weight 900
    src url('../ttf/mplus-2p-black-latin.eot') format('eot')
    src url('../ttf/mplus-2p-black-latin.woff') format('woff')
    src url('../ttf/mplus-2p-black-latin.ttf') format('truetype')

@font-face
    font-family mplus-2p-latin
    font-weight 700
    src url('../ttf/mplus-2p-bold-latin.eot') format('eot')
    src url('../ttf/mplus-2p-bold-latin.woff') format('woff')
    src url('../ttf/mplus-2p-bold-latin.ttf') format('truetype')

@font-face
    font-family mplus-2p-latin
    font-weight 400
    src url('../ttf/mplus-2p-regular-latin.eot') format('eot')
    src url('../ttf/mplus-2p-regular-latin.woff') format('woff')
    src url('../ttf/mplus-2p-regular-latin.ttf') format('truetype')

@font-face
    font-family mplus-2p-latin
    font-weight 200
    src url('../ttf/mplus-2p-light-latin.eot') format('eot')
    src url('../ttf/mplus-2p-light-latin.woff') format('woff')
    src url('../ttf/mplus-2p-light-latin.ttf') format('truetype')

@font-face
    font-family mplus-2p-latin
    font-weight 100
    src url('../ttf/mplus-2p-thin-latin.eot') format('eot')
    src url('../ttf/mplus-2p-thin-latin.woff') format('woff')
    src url('../ttf/mplus-2p-thin-latin.ttf') format('truetype')
